<div class="pdf_link">
<h2>Login To GITHUB</h2>
<%= link_to("login", "https://github.com/login/oauth/authorize?client_id=19d4df26ccfd1d35f7eb&state=123",  html_options={:class=>"link"} )%>
</div>





