// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_label{
padding-left:150px;
padding-top:30px;
}
.user_input{
padding-left:150px;
padding-top:10px;
}
.submit_btn{
padding-left:150px;
padding-top:20px;
}
.heading{
padding-left:130px;
padding-top:20px;
}
.pdf_link{
padding-left:50px;
}
.link{
padding-top:20px;
font-size:15px;
}